@charset "ISO-8859-1";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Quicksand&display=swap");
:root {
  --orange:#a24bf9;
  --text-color-1:#444;
  --text-color-2:#666;
  --bg-color-1:rgba(252, 248, 248, 0.269);
  --bg-color-2:rgba(252, 248, 248, 0.295);
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
  padding: 0rem 9%;
}

.heading {
  text-align: center;
  padding: 2rem 0;
  color: #aea7e7;
  font-size: 3rem;
}

.heading span {
  position: relative;
  z-index: 0;
  display: block;
  /* text-shadow: 0 .3rem .4rem rgb(46, 3, 102); */
}

html::-webkit-scrollbar {
  width: .8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 5rem;
}


body.active {
  --text-color-1:#fff;
  --text-color-2:#fff;
  --bg-color-1:#333;
  --bg-color-2:#222;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.4);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bg-color-1);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: .0rem 4%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--text-color-1);
}

.header .icons div {
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  font-size: 2rem;
  border-radius: .5rem;
  margin-left: .5rem;
  background: #aea7e7;
  /* background:var(--bg-color-2); */
  color: var(--text-color-1);
  cursor: pointer;
  text-align: center;
}

.header .icons div:hover {
  color: #f8f8f8;
  background: #ed7ea0;
}
body.active {
  --text-color-1:#fff;
  --text-color-2:#fff;
  --bg-color-1:#333;
  --bg-color-2:#222;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.4);
}
.bg {
	width: 24px;
	height: 24px;
}

.bigrec {
	position: absolute;
	width: 500px;
	height: 350px;
	left: 400px;
	top: 145px;
	background: rgba(255, 180, 182, 0.37);
	border-radius: 53px;
}

.text1 {
	position: absolute;
	width: 700px;
	height: 39px;
	left: 175px;
	top: 25px;
	font-style: bold;
	font-weight: 900;
	font-size: 30px;
	line-height: 39px;
}

.admin {
	position: absolute;
	width: 130px;
	height: 40px;
	left: 185px;
	top: 150px;
	background: #F6A8AD;
	box-shadow: inset 10px 10px 25px #E16585;
	border-radius: 74px;
}

.admin a::hover {
	cursor: pointer;
}

.admin_icon {
	position: absolute;
	left: 280px;
	top: 160px;
}

.user {
	position: absolute;
	width: 130px;
	height: 40px;
	left: 185px;
	top: 230px;
	background: #F6A8AD;
	box-shadow: inset 10px 10px 25px #E16585;
	border-radius: 74px;
}

.user_icon {
	position: absolute;
	left: 280px;
	top: 240px;
}



/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}

/* For responsiveness  
